#cloud-config
package_update: true
package_upgrade: true
packages:
  - git
  - make
  - curl
runcmd:
  - curl -fsSL https://get.docker.com -o get-docker.sh
  - sh get-docker.sh
  - usermod -aG docker root
